[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
visdom = "*"
trimesh = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
rtree = "*"
pymcubes = "*"
spatialmath-python = "*"
open3d = "<=0.16.1"
pybullet = "*"
opencv-python = "*"
mrrt = {editable = true, path = "."}

[dev-packages]
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
